body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: auto;
    padding: 20px;
}



.logo {
    width: 100px;
    height: auto;
}

h3 {
    color:  #0080ff; /* Color verde agua */
    
}

#chat {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 600px;
    overflow-y: auto;
}

.messages {
    margin-bottom: 20px;
}

.message {
    padding: 10px;
    margin: 0px 0;
    border-radius: 0.1px;
    max-width: 100%;
}

.bot-message {
    background-color: #e0f7fa; /* Color celeste claro */
    color: #000000; /* Color verde oscuro */
}

.user-message {
    background-color: #c8e6c9; /* Color verde claro */
    color:  #0080ff; /* Color verde oscuro */
}

.options {
    display: flex;
    flex-direction: column;
}

.options button {
    background-color:  #0080ff; /* Color verde agua */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 0.1px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}


.options button:hover {
    background-color:  #0171e1; /* Color verde oscuro */
}



.details p {
    margin: 5px 0;
}
/* Sección R E S P O N S I V E */
@media screen and (max-width: 800px) {
    #chat {
        height: 100vh; /* Usar toda la altura disponible en pantalla */
        max-width: 100%; /* Asegurarse de que el chat ocupe todo el ancho disponible en móviles */
        margin: 0; /* Eliminar margen para que ocupe toda la pantalla */
        border-radius: 0; /* Quitar bordes redondeados en móviles */
        border: none; /* Quitar bordes en móviles */
        box-shadow: none; /* Quitar sombra en móviles */
    }

    .container {
        padding: 0; /* Eliminar padding en móviles */
    }

    .message {
        border-radius: 5px; /* Ajustar bordes para parecer mensajes de chat */
    }
}